body{
  background-color: black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  color: white;

}
.cta{
  font-size: 16px;
  color: aquamarine;
}
h1{
  font-size: 50px;
  font-weight: normal;
}
h2{
  font-size: 21px;
  color: gray;
}
.camping{
  
}
.footer {
  text-align: right;
}
